:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

tr[data-hoverable]:hover td {
  background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-5));
}
